@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

// background: rgba(255, 255, 255, 0.2);
//   backdrop-filter: blur(10px);
//   -webkit-backdrop-filter: blur(10px)

*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background: url("../Assets//bg.jpeg"), no-repeat;
  background-size: cover;
}
.App {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  margin-top: 5vh;
  height: 88vh;
}
.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1em;
  width: 100%;
}
.header__logo {
  width: 220px;
}
.main {
  height: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
.main__container {
  flex: 1;
  overflow: auto;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
}
.main__container::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.main__container::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 50px;
}
.main__container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 50px;
}
.panel__container {
  padding: 2em;
}
.panel__container__header {
  font-size: 22px;
  color: white;
  font-weight: bold;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.panel__container__form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
.panel__container__form__row {
  display: flex;
  align-items: center;
  width: 100%;
}
.panel__container__form__input {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
}
.panel__container__form__input__label {
  width: 150px;
  color: white;
  font-size: 14px;
}
.panel__container__form__input__field,
.panel__container__form__input__textarea {
  flex: 1;
  height: 40px;
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 0em 1em;
  color: white;
  font-size: 14px;
}
.panel__container__form__input__field__sm {
  width: 100px;
  margin-right: 1em;
}
.panel__container__form__input__field__sm:last-child {
  margin-right: 0em;
}
.panel__container__form__input__textarea {
  padding: 1em;
  height: 200px;
}
.panel__container__form__input__field::placeholder,
.panel__container__form__input__textarea::placeholder {
  color: white;
}
.panel__container__form__input__field option {
  background-color: white;
  color: black;
  border: none;
}
.panel__container__form__input__pic {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;
  margin-right: 1em;
}
.panel__container__form__input__file {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  user-select: none;
  cursor: pointer;
}
.panel__container__form__input__pic__content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.panel__container__form__input__pic__content__img {
  width: 100%;
  height: 100%;
}
.panel__container__form__input__field:hover,
.panel__container__form__input__textarea:hover,
.panel__container__form__input__field:focus,
.panel__container__form__input__textarea:focus {
  transition: 300ms ease-in-out;
  border-color: #e1b84f;
}
.panel__container__form__button {
  background: linear-gradient(90deg, #9c7b28, #e1b84f);
  width: 200px;
  border: none;
  border-radius: 5px;
  height: 40px;
  cursor: pointer;
  color: black;
}
.panel__container__form__button:hover {
  transition: 300ms ease-in-out;
  box-shadow: 0px 0px 10px #e1b84f;
}
.panel__container__table__headings__container,
.panel__container__table__headings__container__reverse {
  display: flex;
  align-items: center;
  padding: 0.7em 1.5em;
  border-radius: 50px;
  margin-bottom: 0.5em;
}
.panel__container__table__headings__container {
  background-color: rgba(225, 184, 79, 0.08);
}
.panel__container__table__headings__container__reverse {
  cursor: pointer;
}
.panel__container__table__headings__container__reverse:hover {
  transition: 300ms ease-in-out;
  background-color: rgba(225, 184, 79, 0.08);
}
.panel__container__table__entry,
.panel__container__table__entry__reverse,
.panel__container__table__entry__reverse__email,
.panel__container__table__entry__reverse__massage {
  width: 180px;
  color: white;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.panel__container__table__entry {
  color: #e1b84f;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
}
.panel__container__table__entry__reverse__button {
  width: fit-content;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.5em 1em;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  align-items: center;
}
.panel__container__table__entry__reverse__button:hover {
  transition: 300ms ease-in-out;
  background-color: white;
  color: #e1b84f;
}
.panel__container__table__entry__reverse__img {
  width: 50px;
}
.panel__container__table__entry__reverse__massage {
  position: relative;
  text-decoration: underline;
}
.panel__container__table__entry__reverse__massage__data {
  display: none;
  position: absolute;
  background-color: white;
  padding: 1em;
  border-radius: 5px;
  color: black;
  top: 30px;
  width: 300px;
  right: 0px;
  font-size: 14px;
  z-index: 5;
}
.panel__container__table__entry__reverse__massage:hover
  .panel__container__table__entry__reverse__massage__data {
  transition: 300ms ease-in-out;
  display: flex;
}
@media (max-width: 1000px) {
  .panel__container__table__headings__container,
  .panel__container__table__headings__container__reverse {
    width: fit-content;
  }
  .panel__container__table__entry,
  .panel__container__table__entry__reverse,
  .panel__container__table__entry__reverse__email,
  .panel__container__table__entry__reverse__massage {
    min-width: 120px;
  }
}
@media (max-width: 700px) {
  .main {
    flex-direction: column;
    height: fit-content;
  }
}
.dashbaord__container__chart g:nth-child(1) rect {
  fill: #69003c !important;
  stroke: #69003c !important;
}
.dashbaord__container__chart g:nth-child(2) rect {
  fill: #e1b84f !important;
  stroke: #e1b84f !important;
}
.dashbaord__container__chart g:nth-child(1) path {
  // fill: #69003c !important;
  stroke: #69003c !important;
  stroke-width: 3px !important;
}
.dashbaord__container__chart g:nth-child(2) path {
  // fill: #e1b84f !important;
  stroke: #e1b84f !important;
  stroke-width: 3px !important;
}
.dashbaord__container__chart__fill g:nth-child(1) path:nth-child(1) {
  fill: #69003c !important;
  stroke: transparent !important;
}
.dashbaord__container__chart__fill g:nth-child(2) path:nth-child(1) {
  fill: #e1b84f !important;
  stroke: transparent !important;
}
.dashbaord__container__chart tr:nth-child(1) td:nth-child(1) svg circle {
  fill: #69003c !important;
  stroke: #69003c !important;
}
.dashbaord__container__chart tr:nth-child(2) td:nth-child(1) svg circle {
  fill: #e1b84f !important;
  stroke: #e1b84f !important;
}
