@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

// background: rgba(255, 255, 255, 0.2);
//   backdrop-filter: blur(10px);
//   -webkit-backdrop-filter: blur(10px)

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background: url("../Assets//bg.jpeg"), no-repeat;
  background-size: cover;
}
.App {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  height: 80vh;
}
.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1em;
  width: 100%;
}
.header__logo {
  width: 280px;
}
.main {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.main__container {
  flex: 1;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
}
