.panel__container {
  flex: 1;
  padding: 2em;
}
.panel__container__header {
  font-size: 22px;
  color: #fff;
}
.panel__container__table__headings__container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 0.8em 1em;
  background: rgba(225, 184, 79, 0.1);
  border-radius: 30px;
  margin-top: 1em;
}
.panel__container__table__entry {
  width: 17%;
  color: #e1b84f;
  font-size: 14px;
}
.panel__container__table__headings__container__reverse {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 0.5em 1em;
  border-radius: 30px;
  margin-top: 1em;
  transition: 300ms ease-in-out;
}
.panel__container__table__entry__reverse__button {
  padding: 6px;
  max-width: 90px;
  width: 17%;
  max-width: 90px;
  margin-right: 2em;
  margin-left: 1em;
  border-radius: 10px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}
.panel__container__table__entry__reverse__email__heading {
  font-size: 14px;
  color: #e1b84f;
  width: 25%;
}
.panel__container__table__entry__reverse__email {
  width: 25%;
  font-size: 14px;
  color: #fff;
}
.panel__container__table__entry__reverse {
  width: 17%;
  color: #fff;
  font-size: 14px;
}
.panel__container__table__headings__container__reverse:hover {
  background: rgba(225, 184, 79, 0.1);
}
.panel__container__table__entry__reverse__massage {
  font-size: 14px;
  color: #fff;
  text-decoration: underline;
  width: 17%;
}
.panel__container__table__entry__reverse__img {
  width: 40px;
}
.gallery__upload__images__container {
  display: flex;
  flex-direction: row;
  margin: 1em 0em;
}
.gallery__upload__images__container__wrapper {
  width: 130px;
  height: 130px;
  border-radius: 10px;
  border: 1px solid #7c7a79;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-left: 1em;
}
.gallery__upload__images__container__wrapper__upload {
  position: absolute;
  top: 50%;
  left: 0px;
  opacity: 0;
  width: 130px;
  height: 130px;
}
