.dashbaord__container {
  display: flex;
  padding: 2em;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.dashbaord__container__chart {
  width: 100%;
  max-width: 300px;
  height: 300px;
  margin-bottom: 3em;
}
.dashbaord__container__chart__heading {
  font-size: 22px;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5em;
}
